<div id="<%= dom_id board %>" class="row">
  <div class="col-6">
    <%= link_to board.name, board_path(board) %>
  </div>
  <div class="col-3">
    <%= board.email %>
  </div>
  <div class="col-3">
    <%= board.created_at.strftime("%Y-%m-%d") %>
  </div>
</div>
