<h1>New board</h1>

<%= render "form", board: @board %>

<br>
<br>
<hr>
<br>
<h1>Most Recent created boards</h1>
<div class="row">
  <div class="col-6"><b>Board Name</b></div>
  <div class="col-3"><b>Email</b></div>
  <div class="col-3"><b>Created Date</b></div>
</div>
<%- @most_recent_created_boards.each do |board| %>
  <%= render board %>
<%- end %>
<br>
<div>
  <%= link_to "View all generated boards", boards_path %>
</div>
